{% extends "index.html" %}
{% load static %}
{% block content  %}

    <h1 class="container text-center">Acerca de mi</h1>
    <P class="container text-center">¡Hola! Soy José Serra, un apasionado de la tecnología con 30 años de edad, <br>
        originario de Ciudad Guayana, Estado Bolívar, Venezuela. Desde hace 7 años, <br>
        resido en Chile, donde he cultivado mi amor por la informática.<br>
        <br>
        <br>
        Mi viaje en el mundo de la ingeniería informática comenzó en 2018, cuando decidí embarcarme en el estudio de esta fascinante disciplina.<br>
        Sin embargo, en 2019, la pandemia cambió mis planes, y me vi obligado a dejar la carrera debido a la pérdida de mi empleo.<br>
        A pesar de los desafíos, mi pasión por la tecnología no disminuyó. Continué aprendiendo mediante cursos autodidactas y explorando material por mi cuenta.
        <br>
        <br>
        Actualmente, me encuentro inmerso en un emocionante curso de Python en Coder House, donde he descubierto nuevas perspectivas y habilidades.<br>
        Con renovada energía, estoy decidido a retomar mi sueño de estudiar ingeniería informática, y en marzo del próximo año, daré un nuevo paso en mi trayectoria educativa en otro instituto.<br>
        Acompáñame en este viaje de aprendizaje y desarrollo, donde la pasión por la tecnología impulsa mi compromiso constante con el crecimiento personal y profesional.<br>
        <br>
        <br>
        ¡Bienvenido a mi mundo digital!
    </P>


{% endblock %}