{% extends "index.html" %}
{% load static %}
{% block content  %}

<section class="testimonials text-center bg-light">
    <div class="container">
        <div class="row p-3">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    {% if request.user.userextension.profile_picture %}
                        <img class="img-fluid rounded-circle mb-3" src= {{ request.user.userextension.profile_picture.url }} alt="Avatar"/>
                    {% else %}
                        <img class="img-fluid rounded-circle mb-3" src= {% static 'default.png' %} alt="Sin avatar"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <table class="table fst-italic">
                    <tbody>
                        <tr>
                            <th scope="row">Username:</th>
                            <th scope="row">{{ request.user.username }}</th>
                        </tr>
                        <tr>
                            <th scope="row">Nombre:</th>
                            <td>{{ request.user.first_name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido:</th>
                            <td>{{ request.user.last_name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email:</th>
                            <td>{{ request.user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Telefono:</th>
                            <td>
                                {% if request.user.userextension.phone_number %}
                                    {{ request.user.userextension.phone_number }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<a class="btn btn-primary" href="{% url 'editPerfil' %}">Editar Perfil</a>
<a class="btn btn-primary" href="{% url 'passwordedit' %}">Cambio de Password</a>


{% endblock %}